<!-- load jQuery and tablesorter scripts -->
<script type="text/javascript" src="/js/jquery.tablesorter.js"></script>

<div class="row">
    <?php
    //gera o cabeçalho do relatorio do tamanho especificado por parametro
    $relatorio->gerarCabecalho(12);
    
    //loop para gerar o relatorio 
    foreach ($resultSet as $dados) {
        //chamada para imprimir o relatorio linha a linha 
        //passando as linhas do resultSet como parametro
        $relatorio->gerarRelatorio($dados);
    }
    
    //gera o rodapé do relatorio imprimindo a linha de total
    //caso tenha alguma coluna definida como somatoria
    $relatorio->gerarRodape();
    ?> 
</div>
<script>
$(function(){
    //habilitar esta linha para colocar ordenador no cabeçalho de cada coluna 
    //apenas quando não tiver nenhuma quebra de página definida, assim não quebra
    //a estrutura do relatorio
    
    //$("#relatorio").tablesorter();
});
</script>